- if params[:mode] == 'night'
  = haml :intro_night
- else
  = haml :intro_day


= haml :why
= haml :models
= haml :samples


.form-area
  .wrapper
    .form-title
      Чтобы узнать точную стоимость окна,
    .form-subtitle
      Оставьте заявку на выезд менеджера-консультанта сегодня
      %br
      и получите бесплатную москитную сетку в подарок

    .form
      %input{type: :text, name: :username, placeholder: 'Ваше имя'}
      %input{type: :text, name: :username, placeholder: 'Ваш телефон'}
      .button.send-form{inline_form: :true} Оставить заявку


= haml :contacts

.wrapper{style: 'padding: 20px 5px; font-size: 12px; color: #666;'}
  %sup *
  Цветная ламинация в подарок для каждого второго окна в заказе. Узнавайте подробности в офисах продаж
  %br
  %br

  %sup **
  5 рабочих дней на изготовление белых окон. 14 рабочих дней на изготовление цветных окон


  %br
  %br

  %sup ***
  Данный способ оплаты доступен благодаря нашему партнеру «Кредит Европа Банку».
  %br
  «ЗАО „Кредит Европа Банк“, Генеральная лицензия Банка России № 3311 от 02.02.2007»


.footer
  .wrapper
    .left
      ООО «Качественные окна»
      %br
      Дилер компании Kaleva (Москва)
      %br
      Статус — Центральный офис

    .right
      %a{href: 'http://abardacha.ru', target: '_blank'}
        %img{src: '/images/abardacha.jpg'}
