- if params[:mode] == 'night'
  = haml :intro_night
- else
  = haml :intro_day


= haml :why
= haml :models
= haml :samples


.form-area
  .wrapper
    .form-title
      Чтобы узнать точную стоимость окна,
    .form-subtitle
      Оставьте заявку на выезд менеджера-консультанта сегодня
      %br
      и получите бесплатную москитную сетку в подарок

    .form
      %input{type: :text, name: :username, placeholder: 'Ваше имя'}
      %input{type: :text, name: :username, placeholder: 'Ваш телефон'}
      .button.send-form{inline_form: :true} Оставить заявку


= haml :contacts


.footer
  .wrapper
    .left
      ООО «Качественные окна»
      %br
      Дилер компании Kaleva (Москва)
      %br
      Статус — Центральный офис

    .right
      %a{href: 'http://abardacha.ru', target: '_blank'}
        %img{src: '/images/abardacha.jpg'}
